@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply text-brand-primary bg-brand-light font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-brand-dark;
  }
}

html {
  scroll-behavior: smooth;
}